@font-face {
	font-family: 'DMSerifDisplay';
	font-style: normal;
	font-weight: normal;
	src: local('DMSerifDisplay'),
		url('font/DMSerifDisplay-Regular.ttf'), format('ttf');
}

@font-face {
	font-family: 'DMSerifDisplay';
	font-style: italic;
	font-weight: normal;
	src: local('DMSerifDisplay'),
		url('font/DMSerifDisplay-Italic.ttf'), format('ttf');
}